@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Work Sans";
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #4a4a68;
}

body {
  /* background: linear-gradient(138.56deg, #425B89 -6.5%, #2B4771 24.61%, #08294C 84%); */
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Roboto';
  color: #0F172A;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-noto-sans {
  font-family: 'Noto Sans', sans-serif;
}

.text-2xs {
  font-size: 12px;
}

/*---------------- width --------------*/

.w-600 {
  width: 600px;
}

/* ---------------background color------------- */
.bg-primary-600 {
  background: #DA3934;
}

.bg-secondary-900 {
  background: #224CA1;
}

.bg-light-blue {
  background: rgba(82, 170, 246, 0.15);
}

.bg-login {
  background-image: url('~assets/images/bg-login.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-forgot-password {
  background-image: url('~assets/images/bg-forgot-password.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* ---------------text color------------- */
.text-grayscale-50 {
  color: #F8FAFC;
}

.text-grayscale-100 {
  color: #F1F5F9;
}

.text-grayscale-400 {
  color: #94A3B8;
}

.text-grayscale-500 {
  color: #64748B;
}

.text-grayscale-600 {
  color: #475569;
}

.text-grayscale-900 {
  color: #0F172A;
}

.text-secondary-900 {
  color: #224CA1;
}

/* ---------------border color------------- */

.border-secondary-700 {
  border-color: #307BD3;
}
.border-secondary-900 {
  border-color: #224CA1;
}

.border-primary-600 {
  border-color: #DA3934;
}

.border-b-6 {
  border-bottom-width: 6px;
}

/*----------------- others --------------*/
.shadow-custom {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
}
